# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.conf

# Ignore everything with the following file endings:
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.log
*.db
*.sqlite

# Ignore folders.
.storage
.cloud
.google.token
core.*
core
hacs
__pycache__
deps
www/mail_and_packages
custom_components/mail_and_packages/*.gif
custom_components/mail_and_packages/*.jpg
images/mail_and_packages/*.gif
images/mail_and_packages/*.jpg
!custom_components/mail_and_packages/mail_none.gif
!custom_components/mail_and_packages/image-no-mailpieces700.jpg


# Specific files to make sure we ignore
home-assistant.log
home-assistant_v2.db
ip_bans.yaml
secrets.yaml
known_devices.yaml
secrets.yaml.backup
